# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'clean compile package'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'RegularCommands'
    publishLocation: 'FilePath'
    TargetPath: '$(Build.ArtifactStagingDirectory)'
- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'github.com_Steanky'
    repositoryName: 'Steanky/RegularCommands'
    action: 'edit'
    target: '$(Build.SourceVersion)'
    tag: '1.0-SNAPSHOT'
    changeLogCompareToRelease: 'lastFullRelease'
    changeLogType: 'commitBased'